auto-install-peers=false
strict-peer-dependencies=false
strict-dep-builds=false
public-hoist-pattern[]=vite
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=@tailwindcss/vite
public-hoist-pattern[]=@replit/vite-plugin-*
public-hoist-pattern[]=tailwindcss
